html {
  font-size: 17px;
  font-family: "Noto Serif", serif;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  padding-bottom: 20rem;
}

article {
  padding: 0 1rem;
}

article>* {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

body>nav {
  max-width: calc(640px + 3em);
  margin: 1.1rem auto;
  padding: 0 0.9rem;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

body>nav>#links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 61.2px;
}

body>nav>#links>* {
  margin-left: 13px;
}

hr {
  text-align: center;
  border: 0;
}

hr::before {
  content: "⁂";
}

@media only screen and (min-width: 420px) {
  body>nav>#links>* {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 500px) {
  body>nav>#links>* {
    margin-left: 30px;
  }
}

#logo {
  height: 3em;
}

#logo {
  /* transition: transform .7s ease-in-out; */
  transition: none;
}

#logo:hover {
  /* transform: rotate(-45deg); */
  transition: transform 60s cubic-bezier(0.10, -0.05, 0.85, 1.0);
  transform: rotate(-12600deg);
}

@media (prefers-reduced-motion: reduce) {
  #logo:hover {
    transition: none;
    transform: none;
  }
}

body>nav>#links>a,
body>nav>#links>a:hover {
  text-decoration: none;
  color: black;
}

body>nav>#links>a:hover {
  color: white;
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.1;
  hanging-punctuation: first allow-end last;
}

article>header {
  margin-top: 2em;
  margin-bottom: 2em;
}

article>header>h1 {
  font-size: 2em;
  margin: 0;
}

article>header>.article-info {
  margin: 0;
  margin-top: 0.5em;
  font: 1em "Fira Mono", monospace;
  color: #777;
}

h2 {
  font-size: 1.25rem;
}

p {
  text-align: left;
}

ol,
ul,
li {
  text-align: left;
}

ol,
ul {
  padding-left: 20px;
}

ul.fa-ul {}

blockquote {
  padding-left: 0.75em;
  font-style: italic;
  border-left: 0.5em solid #ffe0e0;
}

pre,
code {
  font-family: monospace;
  hyphens: none;
}

code.sourceCode,
pre code {
  font-weight: normal;
  background-color: transparent;
}

code {
  font-weight: 500;
  background-color: #ffe0e0;
}

div.sourceCode {
  max-width: calc(640px + 9em);
}

pre.sourceCode,
pre:has(code) {
  background-color: #fff1f1;
  border-radius: 10px;
  max-width: calc(640px + 8em);
  padding: 0.5em;
}

code {
  padding: 0 0.1em;
  border-radius: 5px;
}

pre code {
  padding: 0;
}

a:hover code {
  background-color: transparent;
}

p:has(> img),
p:has(> video),
img,
video {
  max-width: min(calc(640px + 9em), 100%);
}

figure {
  max-width: min(calc(640px + 9em), 100%);
  padding: 0;
  text-align: center;
}

figure img {}

figcaption {
  padding: 0 1em;
  font-style: italic;
}

pre {
  overflow: auto;
}

article a {
  color: #b00000;
  text-decoration: underline;
}

article a:hover {
  color: white;
  background-color: #b00000;
  text-decoration: none;
}

article :where(a, a:hover) .fa {
  color: #b00000;
  background-color: white;
}

/* external links */
article a[href^='http']:not([href*='lambein.xyz']):after {
  content: '';
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 6px;
  padding-bottom: 9px;
}

.resp-iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.music-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.music-list>iframe {
  margin: 0;
}

.music-item {
  flex-grow: 1;

  display: block;
  aspect-ratio: 1;
  /* width: 300px; */
  /* height: 300px; */
  margin: 9px;
  width: 200px;

  border: 0;
}

@media only screen and (min-width: 420px) {
  .music-item {
    max-width: calc(50% - 20px);
  }
}

.page-ref {
  margin-top: 1em;
  margin-bottom: 1em;
}

.page-ref>.page-url {
  font-weight: bold;
  text-decoration: none;
}

.page-ref>.page-info {
  font: 0.85em "Fira Mono", monospace;
}

.page-info>.pubdate:before {
  content: "╰╴";
}

.tags:not(:empty):before {
  content: " • ";
}

.tags {
  display: inline;
  margin: 0;
  padding: 0;
}

.tags>li {
  display: inline;
}

.tags>li:not(:last-of-type):after {
  content: " / ";
}

.mini-zine>p {
  margin: 0;
  padding: 0;
}

.mini-zine img {
  border: 1px solid black;
  width: calc(100% - 2px);
}

.mini-zine :first-child>img {
  width: 50%;
}

.mini-zine :first-child {
  text-align: right;
}

.mini-zine :last-child>img {
  width: 50%;
}

article.poem {
  max-width: 480px;
  padding: 0;
}

article.poem>p {
  text-indent: 5em each-line hanging;
}

article.poem>pre {
  font-family: "Noto Serif", serif;
}

article.poem:not(:first-of-type) {
  margin-top: 8em;
}

article.poem>h2>a {
  opacity: 0.5;
  text-decoration: none;
}