<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{#if title}}{{title}} &mdash; {{/if}}Xavier Lambein's website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/assets/img/favicon.png">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    </head>
    <body>
        <nav>
            <a href="/"><img src="/assets/img/logo.svg" alt="website logo" id="logo" aria-hidden="true" tabindex="-1"></a>
            <a href="/">Home</a>
            <a href="/about/">About</a>
            <a href="/music/">Music</a>
        </nav>
        {{> (lookup this "template")}}
    </body>
</html>
